.pup-clearfix:after{
  content:'';
  display:table;
  clear:both;
}
.pup-swiper-container{
  display: block;
  position: relative;
  height: 100%;
  overflow: hidden;
  .slider-list{
    display: block;
    transform: translate3d(0,0,0);
    height:100%;
  }
  .slider{
    display: inline-block;
    height: 100%;
  }
}
.pup-swiper-dots{
  position: absolute;
  width: 100%;
  bottom: 10px;
  margin: 0;
  padding: 0;
  text-align: center;
  z-index: 100;
  .dot{
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 0 5px;
    border-radius: 50%;
    background: #EEE;
    cursor: pointer;
    &.dot-active{
      background: #000;
    }
  }
}
.pup-swiper-arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #FFF;
  font-size: 30px;
  &.swiper-arrow-pre, &.swiper-arrow-next{
    cursor: pointer;
  }
  &.swiper-arrow-pre{
    position: absolute;
    left: 10px;
  }
  &.swiper-arrow-next{
    position: absolute;
    right: 10px;
  }
  &.swiper-arrow-pre::before{
    content: '<';
  }
  &.swiper-arrow-next::before{
    content: '>';
  }
}